name: Rust

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-test:
    strategy:
      fail-fast: false
      matrix:
        include:
          # Linux
          - os: ubuntu-24.04
            name: linux-x64
          - os: ubuntu-24.04-arm
            name: linux-arm64

          # Windows
          - os: windows-latest
            name: windows-x64
          - os: windows-11-arm
            name: windows-arm64

          # macOS
          - os: macos-15-intel
            name: mac-intel
          - os: macos-latest
            name: mac-arm64

    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Build
        run: cargo build --verbose

      - name: Run tests
        run: cargo test --verbose
